@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #252122;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.about {
    position: relative;
    top: 21vh;
    gap: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    font-family: 'Bungee', cursive;
    font-size: 2.6rem;
    margin: 0;
    color: #ba8d1f;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
    display: inline-block;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 120%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.aboutme {
    position: relative;
    top: 243px;
}

.mm {
    align-items: center;
    gap: 90px;
    display: flex;
}

.rightme {
    width: 45%;
}

#downloadButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4b8cfb;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all .10s;
    font-family: 'Roboto', sans-serif, 'arial';
}

#downloadButton:hover {
    background-color: #476d85;
    color: white;
}

.hidden {
    opacity: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.leftme {
    animation: 1s ease-out 1s 1 slideInFromLeft;
}

.rightme {
    animation: 1s ease-out 01s 1 slideInFromRight;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

#downloadButton.slide-up {
    animation: 1s ease-out 1s 1 slideUp;
}



.leftside {
    width: 35%;
}

.leftside h1 {
    margin-bottom: 100px;
}

.leftside h1,
.leftside p {
    margin-bottom: 15px;
}

.leftside p {
    font-size: larger;
    width: 100%;
}

.btn-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.btn-icon i {
    font-size: 1.5rem;
}




.skill {
    position: relative;
    top: 230px;
    margin-top: 60px;
    margin-bottom: 90px;
}

.skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.boxes {
    margin: 100px;
}

.qualification {
    position: relative;
    top: 170px;
    justify-content: center;
    height: 120vh;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    top: 70px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #1ecbe1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}


.timeline-item {
    padding: 23px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #ddd;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
}

.right::after {
    left: -13px;
}

.content {
    padding: 30px;
    position: relative;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
    box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px;
}

.service {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 210px;
    height: 482px;
}

.services {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.frontend,
.uiux {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 55px;
    height: 40vh;
    width: 20vw;
    box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px;
}

.frontendh2 {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    color: #ba8d1f;
    font-family: 'Lunasima', sans-serif;
    font-size: 1.3rem;
}


/* contactus */

.contactus {
    position: relative;
    top: 250px;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -20px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 2px solid rgb(186, 183, 183);
    width: 100%;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    font-family: 'Source Code Pro', monospace;
}

input:focus,
textarea:focus {
    outline: 0;
    color: white;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgb(44, 62, 80) 0px 0px 15px 0px;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    border-color: #4b8cfb;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all .10s;
}

.submit-btn:hover {
    background-color: #476d85;
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}

/* effct */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

#name {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#email,
#phone {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#message {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.submit-btn {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#name.slide-in,
#email.slide-in,
#phone.slide-in,
#message.slide-in,
.submit-btn.slide-in {
    visibility: visible;
}



/* footer  */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 250px;
}

.footer-distributed {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-icons a {
    display: inline-block;
    width: 45px;
    height: 15px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    position: relative;
}

.footer-icons a:hover {
    color: #1ecbe1;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.footer-icons a:hover:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 7px;
    right: 7px;
    bottom: -17px;
    border-radius: 50%;
    border: 2px solid #1ecbe1;
    animation: wave 1s infinite;
}
